#box{
  margin:0 auto; height: 40em;width:100%; background-image: url(1.jpeg);
  background-size:100% 100%; border: 2px solid crimson;
  animation-name: example; animation-duration:150s; animation-iteration-count: infinite;
}
@keyframes example{
    5%{background-image: url(bp.jpg);}
   10%{background-image: url(cp.jpg);}
   15%{background-image: url(cpp.jpg);}
   20%{background-image: url(dp.webp);}
   25%{background-image: url(eng.jpg);}
   30%{background-image: url(fp.jpeg);}
   35%{background-image: url(mh.jpg);}
   40%{background-image: url(mhn.jpg);}
   45%{background-image: url(rec.jpeg);}
   50%{background-image: url(rp.webp);}
   55%{background-image: url(shgn.jpeg);}
   60%{background-image: url(sngt.jpg);}
   65%{background-image: url(sp.jpg);}
   70%{background-image: url(np.webp);}
   75%{background-image: url(8.jpg);}
   80%{background-image: url(7.webp);}
   85%{background-image: url(6.jpeg);}
   90%{background-image: url(5.jpg);}
   95%{background-image: url(4.jpeg);}
   100%{background-image: url(2.jpeg);}
}
.fm{
  height:30%; width:28%; background-color: rgba(0, 0, 0, 0.3);
  position:relative; top: 35%;left: 40%; 
}
img {
  border-radius: 50%;
}
h2{font-family:'Times New Roman', Times, serif ; color:#000000;}
.nav{ position: absolute; top: 0%;left: 0%;}
#nav1{ position: absolute; top: 0%;left: -3%;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1.9em;
  position: relative;
  left: 126.3%;
  background-color: rgba(0, 0, 0, 0.5);
}
li {
  float: left;
}
li a {
  color: rgb(255, 255, 255);
  opacity: 0.7;
  display: block;
  padding: 20px;
  }
#sl{
  position:absolute;top:20%;left:6%;z-index: +1;opacity:.7;
}
.bill{
  position:absolute;bottom:80%;right:5%;height:auto;width:fit-content;
}
